<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		{% block head %}
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
		<script>
				$(document).ready(function(){
					$("#image{{author.pk}}").click(function(){
							alert("Text: ");
					});
				});
				$.get("http://localhost:8000/djframework/author_list_serial/",
					function(rez){
						rez.forEach(function(item){
							$("#test_list").append("<p>first name: "+item.first_name+"</p>");
						 });

				});
			</script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		</div>
	</body>
</html>