{% extends "profiles/base.html" %}

{% block title %}Log in{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert"><h1>Login</h1></div>

  <div class="container-fluid">
    <form action="{% url 'log_in' %}" method="post" class="list-group-item">
      {% csrf_token %}
      <div class="form-group">
      {{ form.as_p }}    
      <input type="submit" value="Send" class="btn btn-primary"/>
      </div>
    </form>
    <br>
    <a href="/registr/" role='button' class="btn btn-primary">Registration</a>
  </div>
{% endblock %}