{% extends "profiles/base.html" %}

{% block title %}New note{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert"><h1>Add new notes</h1></div>
 <div class="container-fluid">
    {% if user_profile == None%}
     <form action="{% url 'add_note' %}" method="post" enctype="multipart/form-data" class="list-group-item">
         <div class="form-group" >
             {% csrf_token %}
             <input value="Add category" onClick="location.href='/new_category/'" type="button" class="btn btn-primary"/>
         	 <input value="Add color" onClick="location.href='/new_color/'" type="button" class="btn btn-primary"/>
         	 <br/>
	         <br/>           
             {{ form.as_p }}
             <input type="submit" value="Add note" class="btn btn-primary"/>
             <br/>
         </div>
     </form>
     {% endif %}
<div>
{% endblock %}