{% extends "profiles/base.html" %}

{% block title %}New color{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert"><h1>Add new color</h1></div>
 <div class="container-fluid">
    {% if user_profile == None%}
     <form action="{% url 'new_color' %}" method="post" class="list-group-item">
         <div class="form-group" >
             {% csrf_token %}
             {{ form.as_p }}
             <input type="submit" value="Add" class="btn btn-primary"/>
         </div>
     </form>
     {% endif %}
<div>
{% endblock %}