{% extends "profiles/base.html" %}

{% block title %}Note{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert"><h3><b>Title:</b> {{ note.title }}</h3></div>
<div class="container-fluid" >
<form class="list-group-item" >
    <div class="form-group" >
        <label for='category'>Category: </label>
        {% for category in note.category.all %}
        <input class="form-control" type='text' id='{{category.id}}' value='{{ category }}' />
        {% endfor %}
    </div>
    <div class="form-group">
        <label for='category'>Content: </label>
        <textarea id='content' class="form-control" rows="10" cols="45" style="color:{{ note.color }};">{{ note.content }}</textarea>
    </div>
    <div class="form-group">
        <label for='date'>Date: </label>
        <input class="form-control" type='text' id='date' value='{{ note.pub_date }}'/>
    </div>
    <div class="form-group">
        <label for='media'>Media: </label>
        <a href="/media/{{ note.media }}" id='media' class="form-control">{{ note.media }}</a>
        
    </div>
</form>
<br>
    {% if request.user.id == note.user %}
    <input value="Update note" onClick="location.href='/note_update/{{ note.pk }}'" type="button" class="btn btn-primary"/>
    <br>
    <br>
    <form action="{% url 'note_delete' note.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete note" class="btn btn-primary"/>
    {% endif %}
</form>
</div>

{% endblock %}                