{% extends "profiles/base.html" %}

{% block title %}Note update{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert"><h1>Update note:</h1></div>
  <div class="container-fluid">
    <form action="{% url 'note_update' note.pk %}" enctype="multipart/form-data" method="post" class="list-group-item">
      {% csrf_token %}
      <div class="form-group">
      {{ form.as_p }}
      </div>
      <input type="submit" value="Update" class="btn btn-default btn-lg"/>
    </form>
  </div>
{% endblock %}  