{% extends "profiles/base.html" %}

{% block title %}Note{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert">
<table width="100%">
    <tr>
        <td width='90%'>
            <a href="{% url 'user_list' %}" class="list-group-item">
            All users
            </a>
        </td>
        <td width='10%'>
            <a href="{% url 'log_out' %}" class="list-group-item">
            Log out
            </a>
        </td>
    </tr>
</table>
</div>
 <div class="container-fluid">
 <br>
 <table width="100%">
 <tr>
   <td width="10%">
      {% if user.profile.avatar %}
      <div class="media-left media-middle">
      <img style="width:160px;" src="/media/{{ user.profile.avatar }}" alt="{{ user.profile.avatar }}" class="img-rounded" />
      </div>
      {% else%}
      <img style="width:160px;" src="/media/image/avatar/default.jpg" alt="default.jpg" class="img-rounded" />
      {% endif %}
       <br/>
       {% if user_profile != None %}
           {% csrf_token %}
          <input type="hidden" class="hide" value="{{ user_profile.id }}" />
       {% endif %}
   </td>
   <td width="80%">
       <ul class="list-group">
           <li class="list-group-item active"><h3>{{ user.first_name }} {{ user.last_name }}</h3></li>
           <li class="list-group-item"><b>Nick:</b> {{ user.username }}</li>
           <li class="list-group-item"><b>E-mail:</b> {{ user.email }}</li>
           <li class="list-group-item"><b>Birthday:</b> {{ user.profile.birthday }}</li>
       </ul>
  </td>
</tr>
</table>
 </div>
 <br>
 <div class="container-fluid">
    {% if request.user.id == user.profile.id %}
      <a href="{% url 'edit_profile' %}" role='button' class="btn btn-primary">Edit profile</a>
      <a href="{% url 'add_note' %}" role='button' class="btn btn-primary">Add new note</a><br><br>
    {% endif %}
         <div class="list-group">
             <a href='' class="list-group-item active"><h3>Notes:</h3>
             </a>
             {% for note in entries_list %}
                 {% if request.user.id != user.profile.id and note.publish == True  %}
                 
                  <a href="{% url 'note' note.pk %}" role="button" data-toggle="modal" class="list-group-item">           
                      <h4>{{ note.title }}</h4>
                  </a>
                  {% endif %}
                  {% if request.user.id == user.profile.id %}
                 
                  <a href="{% url 'note' note.pk %}" role="button" data-toggle="modal" class="list-group-item">           
                      <h4>{{ note.title }}</h4>
                  </a>
                  {% endif %}
                  {% empty %}
                  <a href="" role="button" data-toggle="modal" class="list-group-item">           
                      <h4>No notes</h4>
                  </a>
             {% endfor %}             
             <br>             
         </div>
    
</div>                
<!--
         <div class="modal" id="myModal{{ note.id }}" tabindex="-1" role="dialog"
              aria-hidden="true" aria-labelledby="myModelLabel">
             <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                     <h3 id="myModalLabel">{{ note.title }}</h3>
             </div>
             <div class="modal-body">
                 <p>{{ note.content }}</p>
                 <p>{{ note.pub_date }}</p>
             </div>
         </div>
-->


 

{% endblock %}