{% extends "profiles/base.html" %}

{% block title %}Registr{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert"><h1>Registration</h1></div>
  <div class="container-fluid">
  
    <form action="{% url 'edit_note' %}" method="post" enctype="multipart/form-data" class="list-group-item">
      {% csrf_token %}
      <div class="form-group">
      {{ form.as_p }}
      {{ formP.as_p }}
      </div>
      <input type="submit" value="Registration" class="btn btn-primary"/>
    </form>
  </div>
{% endblock %}