{% extends "profiles/base.html" %}

{% block title %}Users{% endblock %}
{% block content %}

<div class="alert alert-info" role="alert">
<table width="100%">
    <tr>
        <td width="75%">
            <a href="{% url 'user_list' %}" >
            <h1>Users:</h1>
            </a>
        </td>
        <td width="25%">
            <form  action="" method="post" class="list-group-item">{% csrf_token %}
            <label for="search">Search</label>
			<input name="text" type="text" id='search'/>
			<input type="submit" value="Send" class="btn btn-default"/>
        </td>
    </tr>
</table>
</div>
	<div>
		<ul class="list-group">
			{% for user in user_list %}
	    	<li class="list-group-item">
	    		<a href="{% url 'user_profile' user.pk %}">
	    			{{ user }}
	    		</a>
	    	</li>
			{% empty %}
	   		 <li>No users</li>
			{% endfor %}
		</ul>
		

	</div>
{% endblock %}